<!-- #region Collaborative -->
<section class="collaborative">
    <div class="container collaborative-wrap">
        <div class="collaborative-main-text">
            <p class="collaborative-subtitle">Optimisation for</p>
            <h2 class="collaborative-title">Collaborative</h2>
            <p class="collaborative-title-descr">
                Few would argue that, despite the advancements of feminism over
                the past three decades, women still face a double standard when it
                comes to their behavior.
            </p>
            <ul class="collaborative-list">
                <li class="collaborative-list-item">
                    <h3 class="collaborative-item-title">Accessory makers</h3>
                    <p class="collaborative-item-descr">
                        While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the fun
                    </p>
                </li>
                <li class="collaborative-list-item">
                    <h3 class="collaborative-item-title">Alterationists</h3>
                    <p class="collaborative-item-descr">
                        If you are looking for a new way to promote your business that
                        won’t cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <img src="./img/collaboration.png" alt="Collaborative" />
    </div>
</section>
<!-- #endregion Collaborative-->