<!-- #region Customer -->

<section class="customer">
    <div class="container customer-wrap">
        <div class="customer-main-text">
            <p class="customer-subtitle">Easier decision making for</p>
            <h2 class="customer-title">Customer Support</h2>
            <p class="customer-title-descr">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="customer-list">
                <li class="customer-list-item">
                    <p class="customer-item-descr">
                        Never worry about overpaying for your energy again.
                    </p>
                </li>
                <li class="customer-list-item">
                    <p class="customer-item-descr">
                        We will only switch you to energy companies that we trust and
                        will treat you right
                    </p>
                </li>
                <li class="customer-list-item">
                    <p class="customer-item-descr">
                        We track the markets daily and know where the savings are.
                    </p>
                </li>
            </ul>
        </div>
        <img src="./img/support.png" alt="support" width="540" />
    </div>
</section>
<!-- #endregion Customer-->