<!-- #region Management -->
<section class="management">
    <div class="container management-wrap">
        <div class="managament-main-text">
            <p class="management-subtitle">Effortless Validation for</p>
            <h2 class="management-title">Management</h2>
            <p class="management-title-descr">
                The Myspace page defines the individual, his or her
                characteristics, traits, personal choices and the overall
                personality of the person.
            </p>
            <ul class="management-list">
                <li class="management-list-item">
                    <h3 class="management-item-title">Accessory makers</h3>
                    <p class="management-item-subtitle">
                        While most people enjoy casino gambling, sports betting,
                        lottery and bingo playing for the fun
                    </p>
                </li>
                <li class="management-list-item">
                    <h3 class="management-item-title">Alterationists</h3>
                    <p class="management-item-subtitle">
                        If you are looking for a new way to promote your business that
                        won’t cost you more money,
                    </p>
                </li>
            </ul>
        </div>
        <img src="./img/management.png" alt="management" />
    </div>
</section>
<!-- #endregion Management -->