<!-- #region Quick & Easy Process -->
<section class="process">
    <div class="container">
        <h2 class="process-title">Quick & Easy Process</h2>
        <p class="process-title-descr">
            Do you require some help for your project: Conception workshop,
            prototyping, marketing strategy, landing page, Ux/UI?
        </p>
        <ul class="process-list">
            <li class="process-list-item">
                <img src="./img/care.png" alt="care" width="98" class="process-img" />
                <p class="process-item-descr">I can take care of your pitch</p>
            </li>
            <li class="process-list-item">
                <img src="./img/app.png" alt="app" width="98" class="process-img" />
                <p class="process-item-descr">I can prototype your app</p>
            </li>
            <li class="process-list-item">
                <img src="./img/pitch.png" alt="pitch" width="98" class="process-img" />
                <p class="process-item-descr">I can take care of your pitch</p>
            </li>
            <li class="process-list-item">
                <img src="./img/strategy.png" alt="strategy" width="98" class="process-img" />
                <p class="process-item-descr">I can help marketing strategy</p>
            </li>
        </ul>
    </div>
</section>
<!-- #endregion Quick & Easy Process-->