<!-- #region Specifically -->
<section class="specifically">
  <div class="container">
    <h2 class="specifically-title">
      Product was Built Specifically for You
    </h2>
    <ul class="specifically-list">
      <li class="specifically-list-item">
        <div class="icon-box green">
          <svg class="icons-specifically" width="16" height="18">
            <use href="./img/symbols.svg#coursor"></use>
          </svg>
        </div>
        <h3 class="specifically-item-subtitle">First click tests</h3>
        <p class="specifically-item-descr">
          While most people enjoy casino gambling,
        </p>
      </li>
      <li class="specifically-list-item">
        <div class="icon-box blue">
          <svg class="icons-specifically" width="18" height="18">
            <use href="./img/symbols.svg#wave"></use>
          </svg>
        </div>
        <h3 class="specifically-item-subtitle">Design surveys</h3>
        <p class="specifically-item-descr">
          Sports betting, lottery and bingo playing for the fun
        </p>
      </li>
      <li class="specifically-list-item">
        <div class="icon-box fiolet">
          <svg class="icons-specifically" width="16" height="18">
            <use href="./img/symbols.svg#heart"></use>
          </svg>
        </div>
        <h3 class="specifically-item-subtitle">Preference tests</h3>
        <p class="specifically-item-descr">
          The Myspace page defines the individual.
        </p>
      </li>
      <li class="specifically-list-item">
        <div class="icon-box red">
          <svg class="icons-specifically" width="14" height="18">
            <use href="./img/symbols.svg#clock"></use>
          </svg>
        </div>
        <h3 class="specifically-item-subtitle">Five second tests</h3>
        <p class="specifically-item-descr">
          Personal choices and the overall personality of the person.
        </p>
      </li>
    </ul>
    <button type="button" class="specifically-btn">SIGN UP NOW</button>
  </div>
</section>
<!-- #endregion Specifically -->