<!-- #region Contents Strategies -->
<section class="strategy">
    <div class="container">
        <h2 class="strategy-title">Contents Strategies</h2>
        <p class="strategy-title-descr">
            We focus on ergonomics and meeting you where you work. It's only a
            keystroke away.
        </p>
        <ul class="strategy-list">
            <li class="strategy-list-item">
                <a href=""><img src="./img/hands.jpg" alt="hands" />By Wahid
                    Ari | 03 March 2019</a>
                <h3 class="strategy-item-descr">
                    Increasing Prosperity With Positive Thinking
                </h3>
            </li>
            <li class="strategy-list-item">
                <a href=""><img src="./img/peoples.png" alt="peoples" />By
                    Wahid Ari | 03 March 2019</a>
                <h3 class="strategy-item-descr">
                    Motivation Is The First Step To Success
                </h3>
            </li>
            <li class="strategy-list-item">
                <a href=""><img src="./img/building.png" alt="building" />Motivation Is The First Step To
                    Success</a>
                <h3 class="strategy-item-descr">
                    Success Steps For Your Personal Or Business
                </h3>
            </li>
        </ul>
    </div>
</section>
<!-- #endregion Contents Strategies -->